/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Karla:ital,wght@0,200;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
/* reset standard margins and padding and box sizing, this makes styling easier */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    /* Colors */
    --purple: #4B46FA;
    --yellow: #FFA200;
    --yellow-transparent: #FFA20014;
    --green: #24c269;
    --darker-green: #013b1a;
    --red: #FF3E6B;
    --dark-red: #520101;
    --darker-red: #2e0000;
    --darkest-red: #1d0000;
    --blue: #61BFC1;
    --white: #FFFFFF;
    --black: #050110;
    --darkest-blue: #101824;
    --darker-blue: #192638;
    --dark-blue: #203046;

    /* Fonts*/
    --base-font: 'Karla', sans-serif;
    --text-font: 'Inconsolata', monospace;
}

/* Default styles */
body {
    position: relative;
    background-color: var(--black);
    background-image: url("../assets/background/base-pattern-bg.svg");
    max-width: 1400px;
    margin: 0 auto;
}

header {
    text-align: center;
}

nav {
    position: fixed;
    right: 50px;
}

/* Headings */
h1, h2, h3 {
    font-family: var(--base-font);
    color: var(--white);
}

h1 {
    font-weight: 500;
}

h2 {

}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

/* Paragraphs */
p {
    font-family: var(--text-font);
    color: var(--white);
    font-size: 0.875rem;
}

/* Tablet styles */
@media (min-width: 1000px) {
    main {
        margin-right: 400px;
        margin-left: 50px;
    }

    header {
        margin-right: 400px;
        margin-left: 50px;
    }

}



