body  {
    background-image: url("../assets/images/dark-black-sand.jpeg");
}










.content {
    max-width: 1000px;
    background-color: var(--darker-blue);
}

/* Content styling */
.content article:nth-child(odd) {
    background-color: var(--darkest-blue);
}

article {
    padding: 16px;
}

.content span {
    color: var(--green);
    background-color: var(--darker-green);
}

.quote {
    font-style: italic;
    font-weight: 300;
}



.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


