body {
    background-image: url("../assets/background/yellow-pattern-bg.svg");
}

.content {
    max-width: 1000px;
    background-color: var(--darker-blue);
}

/* Content styling */
.content article:nth-child(odd) {
    background-color: var(--darkest-blue);
}

article {
    padding: 16px;
}

.content span {
    color: var(--yellow);
    background-color: var(--yellow-transparent);
}

.quote {
    font-style: italic;
    font-weight: 300;
}


